@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html,
body {
    font-size: 12px;
    margin: 0;
    font-family: 'Bubblegum Sans', serif;
    font: 500 1rem 'Quicksand', sans-serif;
    opacity: 100%;
    background-image: url("../images/backroung005.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-position: bottom;
}
.container {
    width: 380px;
    margin-right: 38%;
    margin-top: 7%;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    justify-content: center;
    direction: rtl;
    font: 500 1rem 'Quicksand', sans-serif;
    float: right;
    /* display: flex;  */
}
.formSingUpLogIn{
    margin-left: 105%;
    margin-top: 25%;
}

#logInDiv{
    height: 45%;
    }
 #signUpDiv{
    height: 68%;
 }

.input:focus {
    border-color:#148798;
    background: #ffffff;
}

form {
    direction: ltr;
}

.input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: 0.2s, black 0.2s;
    margin-bottom: 0.5rem;
}

#okeyLog,
#okeySign {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background:#148798;
    margin-bottom: 1rem;
}

.button:hover {
    background: #148798;
}

.button:active {
    transform: scale(0.98);
}

.text {
    text-align: center;
}

.link {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

h1,
p {
    margin-top: 0;
}

.link:hover {
    text-decoration: underline;
}
.title {
    text-align: center;
}

h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 35px;
    text-shadow: 0 0 5px #98bede;
}